
Demo1/.vs/Demo1/v17/.suo

Demo1/bin/Debug/net6.0/Demo1.dll

Demo1/bin/Debug/net6.0/Demo1.pdb

Demo1/obj/Debug/net6.0/Demo1.assets.cache

Demo1/obj/Debug/net6.0/Demo1.csproj.FileListAbsolute.txt

Demo1/obj/Debug/net6.0/Demo1.dll

Demo1/obj/Debug/net6.0/Demo1.GeneratedMSBuildEditorConfig.editorconfig

Demo1/obj/Debug/net6.0/Demo1.genruntimeconfig.cache

Demo1/obj/Debug/net6.0/Demo1.pdb

Demo1/obj/Debug/net6.0/ref/Demo1.dll

Demo1/obj/Debug/net6.0/refint/Demo1.dll

Demo1/obj/Demo1.csproj.nuget.dgspec.json

Demo1/obj/Demo1.csproj.nuget.g.props

Demo1/obj/project.assets.json

Demo1/obj/project.nuget.cache
